

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Permanent+Marker&display=swap');

:root {
    --bcolor: rgb(41, 41, 41);
    --dcolor: rgba(153, 205, 50, 0.438);

	--nav-height: 6vmin;
	--par-fsz: 1vmax;
	--hea-fsz: 1.5vmax;

    --hea-fsz-mob: 1.5vmin
    --par-fsz-mob: 0.7vmin;

    --mob-menu-txt-pad: 0px;
}

html {
    font-family: Comfortaa;
}

body {
    margin: 0px;
    top: 48px;
    display: flex;
    flex-direction: column;
}

html #globalbar{
    position: absolute;
}

.ulli {
    top: 0px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    list-style: none;
    text-align: center;
    align-items: center;
    font-size: 1em;
    width: 100%;
    margin: 0%;
	height: var(--nav-height);
    vertical-align: middle;
    justify-content: center;
    position: fixed;
    padding: 0px;
}

.ullimob {
    top: 0px;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    list-style: none;
    align-items: center;
    font-size: 1em;
    width: 100%;
    margin: 0%;
    vertical-align: middle;
    justify-content: space-evenly;
    position: fixed;
    padding: 0px;
    height: 5vh;
}

#mobshwn {
    display: none;
    position: fixed;
    margin: 0px;
    width: 100%;
    top: 5vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 0px;
    flex-direction: column;
    list-style-type: none;

    align-items: center;
    
}

.txtt {
    
    animation-fill-mode: both;
    color: rgb(153, 151, 151);
}

[id*="xtxt"] {
    display: none;

}

.lli{
    display: inline-flex;
    padding-left: 1vmin;
    padding-right: 1vmin;
    
    color: rgb(153, 151, 151);
    vertical-align: middle;
    transition: color .2s;
    transition: font-size .2s, color .2s;
    text-align: center;

    line-height: (var(--nav-height) - 1vmin);
    height: (var(--nav-height) - 1vmin);
    font-size: 1.7vmin;
    
    
    
    

}

.llimob {
	display: inline-flex;
    padding-left: 1vmin;
    padding-right: 1vmin;
    /*margin-right: auto;*/
    color: rgb(153, 151, 151);
    justify-self: center;
    transition: color .2s;
    transition: font-size .2s, color .2s;
    text-align: center;

    line-height: (var(--nav-height) - 1vmin);
    height: (var(--nav-height) - 1vmin);
    font-size: 1.7vmax;
}

.llimg {
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    align-content: center;
    align-items: center;
    color: rgb(153, 151, 151);
    vertical-align: middle;
    text-align: center;
    filter: grayscale(100%);
    line-height: 5vmin;
    height: 5vmin;
    transition: filter .8s;
}

.llimg:hover {
    filter: grayscale(0%);
}

.navimg {
    height: 4vmin;
    display: flex;
    
    
    
}

.lli:hover{
    color: white;
    font-size: 2vmin;
    cursor: pointer;
}

.mainfoot {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    
    height: 50vh;
    margin: 0;
    
    padding: 0;
    
    
    
    
}

.mainfoot > ul {
    list-style: none;
    display: inline-block;
}

.mainfoot > ul > li > a > img {
    height: 40px;
    
}

.maincon {
    position: relative;
    top: var(--nav-height);
    bottom: 5vmin;
    
    display: flex;
    flex-direction: column;
    
    
}

.mottor {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10vw 3vw 10vw 3vw;
    
}

.mottor > div > p {
    text-align: end;
    max-width: 35vw;
    backdrop-filter: blur(20px);
    border-radius: 1vw;
    color: rgba(245, 245, 245, 0.5);
	font-size: var(--par-fsz);
    
}

.mottol {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10vw 3vw 10vw 3vw;
    
}

.mottol > div > p {
    color: rgba(245, 245, 245, 0.5);
    text-align: start;
    max-width: 35vw;
    backdrop-filter: blur(20px);
    border-radius: 1vw;
	font-size: var(--par-fsz);
    
}

.mottocen {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 40vw 3vw 10vw 3vw;
    
}

.mottocen > div > p {
    text-align: justify;
    max-width: 90vw;
    backdrop-filter: blur(20px);
    border-radius: 10vw;
    color: rgba(245, 245, 245, 0.5);
	font-size: var(--par-fsz-mob);
    
}

.mottocon {
    display: inherit;
    text-align: inherit;
    flex-direction: inherit;
    align-items: inherit;
    backdrop-filter: blur(20px);
    padding: 3vmin;
    border-radius: 20px;
	
    
}

.mottocon > h2 {
    margin: 0px;
    color: var(--dcolor);
	font-size: var(--hea-fsz);
}

.mottocon:hover .mottopar {
	font-size: var(--hea-fsz);
	max-width: 50vw;
	
}

.mottoconst {
    display: inherit;
    text-align: inherit;
    flex-direction: inherit;
    align-items: inherit;
    backdrop-filter: blur(20px);
    padding: 3vmax;
    border-radius: 20px;
	
    
}

.mottoconst > h2 {
    margin: 0px;
    color: var(--dcolor);
	font-size: var(--hea-fsz-mob);
}

.mottopar {
	
	transition: font-size .4s, max-width .4s;
}

.perfect {
    background-image: url("assets\\leather.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.ecolo {
    background-image: url("assets\\waterfall.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.respons {
    background-image: url("assets\\house.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.stabil {
    background-image: url("assets\\server.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.secur {
    background-image: url("assets\\bluetux_right.png");
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
    .ulli {
        display: none;
    }

    .ullimob {
        display: flex;
    }
    
}

@keyframes mobmenuin {
    0% {
        height: 0vh;
    }

    100% {
        height: 95vh;
    }
}

@keyframes mobmenuout {
    0% {
        height: 95vh;
    }

    99% {
        height: 0vh;
    }

    100% {
        display: none;
    }
}

@keyframes mobmenutxtin {
    0% {
        padding-top: 0vmax;
        color: rgba(153, 151, 151, 0);
        font-size: 1vmax;
    }

    100% {
        padding-top: var(--mob-menu-txt-pad);
        color: rgba(153, 151, 151, 1);
        font-size: 4vmax;
    }
}

@keyframes mobmenutxtout {
    0% {
        padding-top: var(--mob-menu-txt-pad);
        color: rgba(153, 151, 151, 1);
        font-size: 4vmax;
    }

    100% {
        padding-top: 0px;
        color: rgba(153, 151, 151, 0);
        font-size: 1vmax;
    }
}






/*
    |||||    ||||||||  |||||   |||||   ||||||||    ||||||     ||     ||||||||  ||||||||  |||||
    ||  ||   ||        ||  ||  ||  ||  ||         |||       ||  ||      ||     ||        ||  ||
    ||   ||  ||||      |||||   |||||   ||||      ||        ||    ||     ||     ||||      ||   ||
    ||  ||   ||        ||      || ||   ||         |||      ||||||||     ||     ||        ||  ||
    |||||    ||||||||  ||      ||  ||  ||||||||    ||||||  ||    ||     ||     ||||||||  |||||
*/

/*.mainnav {
    
    top: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    min-width: 1024px;
    height: 48px;
    margin: 0;
    box-sizing: content-box;
    padding: 0;
    letter-spacing: normal;
    font-weight: normal;
    vertical-align: text-bottom;
    
}*/

/*.ull {
    color: white;
    list-style: none;
    text-align: center;
    align-items: center;
    font-size: 1em;
    width: auto;
    margin: 0%;
    vertical-align: middle;
    display: flex;
    position: relative;
}*/

/*.ulli > li .ulli > li > a {
    display: block;
}*/

/*.menuicon {
	justify-self: left;
}*/

/*.txtt .moblli {
    display: flex;
    animation: mobmenutxtin .4s forwards;
}*/

/*.llimob:hover {
	color: var(--dcolor);
	font-size: 2vmax;
}*/

/*.llimgmob {
    display: inherit;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    align-content: center;
    align-items: center;
    color: rgb(153, 151, 151);
    vertical-align: middle;
    text-align: center;
    
    line-height: 5vh;
    height: 4vh;
    transition: filter .8s;
}*/

/*.menumob {
	opacity: 43%;
}*/

/*.lli:hover .navpopup {
    display: flex;
}*/

/*.navelem {
    direction: ltr;
    display: flex;
    justify-content: center;
    text-align: inherit;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    max-width: 980px;
    height: 48px;
    max-height: 44px;    
    vertical-align: middle;
}*/

/*.menuitem {
    display: inline-block;
}*/

/*.sectit {
    text-align: center;
    font-size: 40pt;
    
}*/

/*.und_anim {
    background-image: url("\\assets\\greenhouse_smallogo_square.png");
    background-size: cover;
    background-position: 0%;
    color: darkgreen;
    transition: font-size .4s;
}*/

/*.und_anim:hover {
    
    font-size: 45pt;
    
    
}*/

/*.popup {
    display: none;
    width: 100%;
    height: 60%;
    background-color: black;
}*/

/*.popup:hover {
    display: flex;
}*/